:root {
    /* 
    ## Colors

    ### Primary */

    --clr-primary-blue: hsl(246, 80%, 60%);

    --clr-primary-light-red-work: hsl(15, 100%, 70%);
    --clr-primary-soft-blue-play: hsl(195, 74%, 62%);
    --clr-primary-light-red-study: hsl(348, 100%, 68%);
    --clr-primary-lime-green-exercise: hsl(145, 58%, 55%);
    --clr-primary-violet-social: hsl(264, 64%, 52%);
    --clr-primary-soft-orange-self-care: hsl(43, 84%, 65%);

    $colors: (
        "orange": hsl(15, 100%, 70%),
        "cyan": hsl(195, 74%, 62%),
        "red": hsl(348, 100%, 68%),
        "green": hsl(145, 58%, 55%),
        "purple": hsl(264, 64%, 52%),
        "yellow": hsl(43, 84%, 65%)
    );

    /* ### Neutral */

    --clr-neutral-very-dark-blue: hsl(226, 43%, 10%);
    --clr-neutral-dark-blue: hsl(235, 46%, 20%);
    --clr-neutral-desaturated-blue: hsl(235, 45%, 61%);
    --clr-neutral-pale-blue: hsl(236, 100%, 87%);

    --clr-white: #fff;
}

$br-radius: 0.9375rem;
